.Order {
  width: 80%;
  padding: 30px;
  border: 1px solid #ccc;
  margin: 10px auto;

}
.Wrapper {
  display: flex;
  flex-wrap: wrap;
}

.Ingredient {
  flex: 1 0 100%;
  max-width: 75%;
  border: 1px solid #ccc;
  margin: 8px 10px;
  text-transform: capitalize;
  padding: 20px;

}


@media(min-width: 750px) {

.Ingredient {
  max-width: 15%;
  margin: 0 10px;
  border: 1px solid #ccc;
  text-transform: capitalize;
  padding: 5px;
}

}